.ul-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: auto;
    min-height: 100vh;
    background-color: var(--main-bg-color);
}

.ul-user-listing {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    text-decoration: none;
    cursor: pointer;
    min-width: 300px;
    max-width: 600px;
}

.ul-user-listing:hover {
    background-color: var(--nav-bg-hover);
    color: var(--nav-text-hover);
}

.ul-avatar {
    max-width: 6rem;
    border-radius: 2rem 0 0 2rem;
}

.ul-user-login {
    font-size: 1.5rem;
}
