.ud-main {
    padding: 1rem;
    height: auto;
    min-height: 100vh;
    background-color: var(--main-bg-color);
    display: flex;
    flex: 1;
    gap: 1rem;
    flex-direction: column;
}

.ud-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.ud-right-column {
    margin-top: 0;
}

@media only screen and (min-width: 600px) {
    .ud-main {
        display: flex;
        flex: 2;
        flex-direction: row;
    }

    .ud-right-column {
        margin-top: 4rem;
    }
}

.ud-user-panel {
    margin-top: 4rem;
    align-items: flex-start;
}

.ud-avatar {
    max-width: 10rem;
    border-radius: 50%;
    position: relative;
    top: -5rem;
    margin-bottom: -6rem;
    margin-left: 1.5rem;
}

.ud-login {
    align-self: flex-end;
    font-size: 2rem;
}
